<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>قالب Molla - قالب بوت استرپ فروشگاهی</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/WebsiteTemplate/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/WebsiteTemplate/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/WebsiteTemplate/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/WebsiteTemplate/assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/WebsiteTemplate/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/WebsiteTemplate/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/WebsiteTemplate/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/WebsiteTemplate/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/WebsiteTemplate/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/WebsiteTemplate/assets/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/WebsiteTemplate/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/WebsiteTemplate/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/WebsiteTemplate/assets/css/style.css">
    <link rel="stylesheet" href="/WebsiteTemplate/assets/css/skins/skin-demo-20.css">
    <link rel="stylesheet" href="/WebsiteTemplate/assets/css/demos/demo-20.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-12">
            <div class="header-top">
                <div class="container">

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                <a href="#">لینک ها</a>
                                <ul class="dropdown-links">
                                    <li><a href="#signin-modal" data-toggle="modal">ورود / ثبت نام</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">فهرست</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index-1.html" class="logo">
                            <img src="/WebsiteTemplate/assets/images/demos/demo-20/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">جستجو</label>
                                    <input type="search" class="form-control" name="q" id="q"
                                           placeholder="جستجوی محصول ..." required>

                                    <div class="select-custom">
                                        <select id="cat" name="cat">
                                            <option value="">همه دسته ها</option>
                                            <option value="1">مد</option>
                                            <option value="2">- زنانه</option>
                                            <option value="3">- مردانه</option>
                                            <option value="5">- مد کودکان</option>
                                            <option value="6">الکترونیک</option>
                                            <option value="7">- تلویزیون</option>
                                            <option value="8">- دوربین ها</option>
                                            <option value="9">- بازی ها</option>
                                        </select>
                                    </div><!-- End .select-custom -->
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <div class="header-dropdown-link">
                            <div class="account">
                                <a href="dashboard.html" title="پروفایل من">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p>حساب کاربری</p>
                                </a>
                            </div><!-- End .compare-dropdown -->

                            <div class="wishlist">
                                <a href="wishlist.html" title="لیست علاقه مندی">
                                    <div class="icon">
                                        <i class="icon-heart-o"></i>
                                        <span class="wishlist-count badge">3</span>
                                    </div>
                                    <p>موردعلاقه</p>
                                </a>
                            </div><!-- End .compare-dropdown -->

                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <div class="icon">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">2</span>
                                    </div>
                                    <p>سبد خرید</p>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="product.html">کتونی ورزشی مخصوص دویدن رنگ بژ</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1 x </span>
                                                    84,000 تومان
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="product.html" class="product-image">
                                                    <img src="/WebsiteTemplate/assets/images/products/cart/product-1.jpg" alt="محصول">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="حذف محصول">
                                                <i class="icon-close"></i>
                                            </a>
                                        </div><!-- End .product -->

                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="product.html">لباس زنانه آبی</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1 x </span>
                                                    76,000 تومان
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="product.html" class="product-image">
                                                    <img src="/WebsiteTemplate/assets/images/products/cart/product-2.jpg" alt="محصول">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="حذف محصول">
                                                <i class="icon-close"></i>
                                            </a>
                                        </div><!-- End .product -->
                                    </div><!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span>مجموع</span>

                                        <span class="cart-total-price">160,000 تومان</span>
                                    </div><!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href="cart.html" class="btn btn-primary">مشاهده سبد خرید</a>
                                        <a href="checkout.html" class="btn btn-outline-primary-2">
                                            <span>پرداخت</span><i class="icon-long-arrow-left"></i>
                                        </a>
                                    </div><!-- End .dropdown-cart-total -->
                                </div>
                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div style="background-color: #333; display: flex; width: 100%;">
                        <div class="header-left">
                            <div class="dropdown category-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" data-display="static"
                                   title="دسته بندی فروشگاه">
                                    دسته بندی های فروشگاه
                                </a>

                                <div class="dropdown-menu">
                                    <nav class="side-nav">
                                        <ul class="menu-vertical sf-arrows">
                                            <li class="item-lead"><a href="#">بهترین کتاب های سال 1401</a></li>
                                            <li class="item-lead"><a href="#">جدید در 1401</a></li>
                                            <li><a href="#">هنر و عکاسی</a></li>
                                            <li><a href="#">بیوگرافی</a></li>
                                            <li><a href="#">کتاب کودکان</a></li>
                                            <li><a href="#">سرگرمی</a></li>
                                            <li><a href="#">رمان</a></li>
                                            <li><a href="#">غذا و نوشیدنی</a></li>
                                            <li><a href="#">گرافیک</a></li>
                                            <li><a href="#">سلامت و تناسب اندام</a></li>
                                            <li><a href="#">علمی</a></li>
                                        </ul><!-- End .menu-vertical -->
                                    </nav><!-- End .side-nav -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .category-dropdown -->
                        </div><!-- End .header-left -->

                        <div class="header-left">

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li>
                                        <a href="index-20.html">خانه</a>
                                    </li>
                                    <li>
                                        <a href="product.html" class="sf-with-ul">کتاب</a>

                                        <div class="megamenu megamenu-sm">
                                            <div class="row no-gutters">
                                                <div class="col-md-6">
                                                    <div class="menu-col">
                                                        <div class="menu-title">جزئیات محصول</div>
                                                        <!-- End .menu-title -->
                                                        <ul>
                                                            <li><a href="product.html">پیش فرض</a></li>
                                                            <li><a href="product-centered.html">توضیحات وسط چین</a></li>
                                                            <li>
                                                                <a href="product-extended.html">
                                                                    <span>
                                                                        توضیحات
                                                                        گسترده<span class="tip tip-new">جدید</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li><a href="product-gallery.html">گالری</a></li>
                                                            <li><a href="product-sticky.html">اطلاعات چسبیده</a></li>
                                                            <li>
                                                                <a href="product-sidebar.html">صفحه جمع با سایدبار</a>
                                                            </li>
                                                            <li><a href="product-fullwidth.html">تمام عرض</a></li>
                                                            <li><a href="product-masonry.html">اطلاعات چسبیده ماسونری</a></li>
                                                            <li><a href="product-new-design.html">طراحی جدید</a></li>
                                                        </ul>
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html">
                                                            <img src="/WebsiteTemplate/assets/images/menu/banner-2.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-bottom">
                                                                <div class="banner-title text-white">
                                                                    محصولات
                                                                    جدید<br><span><strong>بهار 1401</strong></span>
                                                                </div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner -->
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-sm -->
                                    </li>
                                    <li>
                                        <a href="#" class="sf-with-ul">لوازم التحریر </a>

                                        <ul>
                                            <li>
                                                <a href="about.html" class="sf-with-ul">درباره ما</a>

                                                <ul>
                                                    <li><a href="about.html">درباره ما 01</a></li>
                                                    <li><a href="about-2.html">درباره ما 02</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.html" class="sf-with-ul">تماس با ما</a>

                                                <ul>
                                                    <li><a href="contact.html">تماس با ما 01</a></li>
                                                    <li><a href="contact-2.html">تماس با ما 02</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="invoice-template/invoice-template.html" class="sf-with-ul">
                                                    قالب
                                                    فاکتور
                                                </a>

                                                <ul>
                                                    <li><a href="invoice-template/invoice-template.html">قالب فاکتور 01</a></li>
                                                    <li><a href="invoice-template/invoice-template2.html">قالب فاکتور 02</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="email-template/email-template.html" class="sf-with-ul">
                                                    قالب
                                                    ایمیل
                                                </a>

                                                <ul>
                                                    <li>
                                                        <a href="email-template/email-template.html">قالب ایمیل 01</a>
                                                    </li>
                                                    <li>
                                                        <a href="email-template/email-order-success.html">قالب ایمیل 02 - سفارش موفق</a>
                                                    </li>
                                                    <li>
                                                        <a href="email-template/email-promotional.html">قالب ایمیل 03</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="login.html">ورود</a></li>
                                            <li><a href="forget-password.html">فراموشی رمز عبور</a></li>
                                            <li><a href="track-order.html">پیگیری سفارش</a></li>
                                            <li><a href="faq.html">سوالات متداول</a></li>
                                            <li><a href="404.html">خطای 404</a></li>
                                            <li><a href="coming-soon.html">به زودی</a></li>
                                            <li><a href="coming-soon-2.html">به زودی 2</a></li>
                                        </ul>
                                    </li>
                                    </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        @RenderBody()

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-xl-5">
                            <div class="widget widget-about">
                                <img src="/WebsiteTemplate/assets/images/demos/demo-20/logo-footer.png" class="footer-logo"
                                     alt="Footer Logo" width="105" height="25">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم.
                                </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">سوالی دارید؟ 7روز هفته/24ساعته</span>
                                            <a href="tel:123456789">02155667788</a>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-lg-6 col-xl-7">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="#">خدمات</a></li>
                                            <li><a href="#">نحوه خرید</a></li>
                                            <li><a href="faq.html">سوالات متداول</a></li>
                                            <li><a href="contact.html">تماس با ما</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">خدمات مشتری</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">شیوه پرداخت</a></li>
                                            <li><a href="#">گارانتی بازگشت وجه</a></li>
                                            <li><a href="#">شیوه ارسال محصولات</a></li>
                                            <li><a href="#">قوانین و مقررات</a></li>
                                            <li><a href="#">خط مشی</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">ورود</a></li>
                                            <li><a href="cart.html">سبد خرید</a></li>
                                            <li><a href="#">لیست علاقه مندی ها</a></li>
                                            <li><a href="#">پیگیری سفارشات</a></li>
                                            <li><a href="#">راهنما</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 col-xl-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">کپی رایت © 2019 تمامی حقوق محفوظ است.</p>
                    <!-- End .footer-copyright -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">شبکه های اجتماعی</span>
                        <a href="#" class="social-icon social-facebook" title="فیسبوک" target="_blank">
                            <i class="icon-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="#" class="social-icon social-youtube" title="یوتیوب" target="_blank">
                            <i class="icon-youtube"></i>
                        </a>
                        <a href="#" class="social-icon social-pinterest" title="پینترست" target="_blank">
                            <i class="icon-pinterest"></i>
                        </a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="بازگشت به بالا"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">جستجو</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                       placeholder="جستجو در ..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                       role="tab" aria-controls="mobile-menu-tab" aria-selected="true">منو</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                       aria-controls="mobile-cats-tab" aria-selected="false">دسته بندی ها</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                     aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li>
                                <a href="index-20.html">خانه</a>
                            </li>
                            <li>
                                <a href="product.html" class="sf-with-ul">کتاب</a>
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">لوازم التحریر </a>

                                <ul>
                                    <li>
                                        <a href="about.html" class="sf-with-ul">درباره ما</a>

                                        <ul>
                                            <li><a href="about.html">درباره ما 01</a></li>
                                            <li><a href="about-2.html">درباره ما 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="sf-with-ul">تماس با ما</a>

                                        <ul>
                                            <li><a href="contact.html">تماس با ما 01</a></li>
                                            <li><a href="contact-2.html">تماس با ما 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="invoice-template/invoice-template.html" class="sf-with-ul">
                                            قالب
                                            فاکتور
                                        </a>

                                        <ul>
                                            <li><a href="invoice-template/invoice-template.html">قالب فاکتور 01</a></li>
                                            <li><a href="invoice-template/invoice-template2.html">قالب فاکتور 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="email-template/email-template.html" class="sf-with-ul">
                                            قالب
                                            ایمیل
                                        </a>

                                        <ul>
                                            <li>
                                                <a href="email-template/email-template.html">قالب ایمیل 01</a>
                                            </li>
                                            <li>
                                                <a href="email-template/email-order-success.html">قالب ایمیل 02 - سفارش موفق</a>
                                            </li>
                                            <li>
                                                <a href="email-template/email-promotional.html">قالب ایمیل 03</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="forget-password.html">فراموشی رمز عبور</a></li>
                                    <li><a href="track-order.html">پیگیری سفارش</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="404.html">خطای 404</a></li>
                                    <li><a href="coming-soon.html">به زودی</a></li>
                                    <li><a href="coming-soon-2.html">به زودی 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li><a class="mobile-cats-lead" href="#">پیشنهاد روزانه</a></li>
                            <li><a class="mobile-cats-lead" href="#">هدیه</a></li>
                            <li><a href="#">تخت خواب</a></li>
                            <li><a href="#">روشنایی</a></li>
                            <li><a href="#">مبلمان</a></li>
                            <li><a href="#">فضای ذخیره سازی</a></li>
                            <li><a href="#">میز وصندلی</a></li>
                            <li><a href="#">دکور </a></li>
                            <li><a href="#">کابینت</a></li>
                            <li><a href="#">قهوه</a></li>
                            <li><a href="#">مبلمان خارج از منزل </a></li>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="فیسبوک"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="توییتر"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="یوتیوب"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                       role="tab" aria-controls="signin" aria-selected="true">ورود</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                       aria-controls="register" aria-selected="false">ثبت نام</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                     aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">نام کاربری یا آدرس ایمیل *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                   name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">رمز عبور *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                   name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>ورود</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">
                                                    مرا به خاطر
                                                    بسپار
                                                </label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">فراموشی رمز عبور؟</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">یا ورود با</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    حساب گوگل
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    حساب فیسبوک
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">آدرس ایمیل شما *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                   name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">رمز عبور *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                   name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>ثبت نام</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                       required>
                                                <label class="custom-control-label" for="register-policy">
                                                    با
                                                    <a href="#">قوانین و مقررات </a>موافقم *
                                                </label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">یا عضویت با</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    حساب گوگل
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    حساب فیسبوک
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

 
    <!-- Plugins JS File -->
    <script src="/WebsiteTemplate/assets/js/jquery.min.js"></script>
    <script src="/WebsiteTemplate/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/WebsiteTemplate/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/WebsiteTemplate/assets/js/jquery.waypoints.min.js"></script>
    <script src="/WebsiteTemplate/assets/js/superfish.min.js"></script>
    <script src="/WebsiteTemplate/assets/js/owl.carousel.min.js"></script>
    <script src="/WebsiteTemplate/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/WebsiteTemplate/assets/js/main.js"></script>
    <script src="/WebsiteTemplate/assets/js/demos/demo-20.js"></script>
</body>


</html>